@import "tailwindcss";

:root {
    --boja-teksta-svetla: white;
    --boja-teksta-tamna: #111827;
    --boja-pozadine-svetla: #F8FAFC;
    --boja-pozadine-tamna: #0F172A;
}


body {
    min-height: 100vh;
    background: linear-gradient(180deg, #f8fafc 0%, #e2e8f0 45%, #cbd5e1 100%);
    color: var(--boja-teksta-tamna);
}

img {
    display: block;
}
