@import "tailwindcss";

@theme {
    --boja-teksta-svetla: white;
    --boja-teksta-tamna: black;
    --boja-pozadine-svetla: #D5D7E2;
    --boja-pozadine-tamna: #1D202A;
}



body {
    background-color: var(--boja-pozadine-svetla);
    color: var(--boja-teksta-tamna);
}